.salario, .operations {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.pantallaContainer {
    width: 75%;
    height: 94rem;
    margin: 0 auto;
}

#pantalla {
    margin: 0 auto;
}

/* Operaciones */
#form_operations{
    display: flex;
    flex-direction: column;
}

#form_operations input {
    width: 10%;
    margin: .3rem auto;
    
}
